@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Cost Estimator</h1>
    <p class="lead">Aplikacja internetowa pomagająca wycenianie projektów informatycznych</p>
    <p
       >Dzięki tej aplikacji będziesz mógł skutecznie zażądzać kosztami swoich projektów, definiować powszechnie wykorzystywane zadania i technologie oraz przechowywać
        historię kalkulacji cen.
    </p>
</div>